html, body, div, span, 
h1, h2, h3, h4, h5, h6, 
p, a, img, article, aside, 
footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  font-family: 'Open Sans', sans-serif;
}

nav {
  float: right;
  padding-right: 55px;
  font-size: 83%;
  margin-top: 8px;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding-right: 19px;
  font-weight: 700;  
}

h1 {
  font-size: 2em;
  /*display: inline;*/
}
p {
  margin-bottom: 20px;
}
.hero-slider img {
  width:100%;
  max-width: 100%;
  height: auto;
}
.unslider-nav {
  display: none;
}

.logo-type {
  color: #009999;
  font-weight: 700;  
  display: inline;
  font-size: 1.5em;
  padding-left: 50px;
  cursor: pointer;
}
.nav-bar {
  width: 100%;
  height: 40px;
  padding-top: 23px;
}

.nav-color {
  color: #cccc00;
}

.hero-slider {
  height: 405px;
}

.hero-slider img {
  width: 100% !important; 
  height: 390px;
  margin-left: -40px;
}

.hero-slider ul {
  list-style-type: none;
}

.intro {
  text-align: center;
  margin: 0 auto;
  width: 33%;
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
  margin: 90px auto;
  width: 55%;
  /*padding: 0 290px 0 290px;*/
  /*z-index: 100;*/
  /*position: absolute; */
  /*top: 130px;*/
}
.intro span {
  color: #cccc00;
}

.hero-front-container {
  z-index: 100;
  position: absolute; 
  top: 0px;
  width: 100%;
  text-align: center;
}

.button-top {
  margin: 50px auto;
  display: block;
  width: 200px;
  text-decoration: none;
  font-weight: 700;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #fff;
  border-style: solid;
  padding: 12px 35px 12px 35px;
  text-shadow: 1px 1px #000000;
  box-shadow: 1px 1px 0px #000000;
}
.button-topa {
  z-index: 100;
  position: absolute; 
  text-decoration: none;
  font-weight: 700;
  color: #cccc00;
  margin-left: 550px;
  border-width: 3px;
  margin-left: 554px;
  margin-top: 246px;
  border-color: #cccc00;
  border-style: solid;
  padding: 12px 35px 12px 35px;
  text-shadow: 1px 1px #000000;
  box-shadow: 1px 1px 0px #000000;
}
.unslider-arrow {
  z-index: 101;
  margin-top: -200px;
}

.who-we-are {
  width: 90%;
  margin: 0 auto;
  /*height: 600px;*/
}

.who-we-are-title {
 font-size: 1.5em;
 text-align: center;
 padding-top: 50px;
 padding-bottom: 20px;
}

.who-we-are p {
  width: 75%;
  margin: 0 auto;
  /*padding-left: 300px;
  padding-right: 300px;*/
  text-align: center;
  line-height: 150%; 
}

.who-we-are img, .imgs, .imgsb, .imgsc {
/*  width: 300px;
  height: 300px;
  padding-top: 0px;
  padding-right: 0px;*/
  /*display: inline-block;*/
}
.wwap {
  padding-bottom: 50px;
}

.imgs {
  background: url(../images/service--1.jpg) no-repeat center;
  background-size: cover;
/*  padding-left: 113px;
  position: relative; */
}

.imgsb {
  background: url(../images/service--2.jpg) no-repeat center;
  background-size: cover;
}

.imgsc {
  background: url(../images/service--3.jpg) no-repeat center;
  background-size: cover;
}

.imgs-same {
  /*margin-left: 4%;*/
  font-size: 1.2em;
  color: #000000;
  font-weight: bold; 
  /*width: 30.666%;*/
  height: 50.666%;
/*  z-index: 100;
  position: absolute;*/
}

.imgs-same:nth-of-type(1) {
  margin-left: 0;
}

.imgsb img {
  /*margin-left: 457px;*/
}

.imgsc img {
  /*margin-left: 800px;*/
}

.imgs h3 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /*z-index: 100;*/
  /*position: absolute;*/
  /*margin-left: 50px;*/
/*  left: 160px;
  top: 69px;*/
}

.imgsb h3 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
/*    z-index: 100;
  position: absolute;
  margin-left: 551px;
  left: 0;
  top: 69px;*/
}

.imgsc h3{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
/*    z-index: 100;
  position: absolute;
  margin-left: 800px;
  left: 92px;
  top: 69px;*/
}

/*.imgs h3:first-child {
  left: 238px;
  top: 162px;
  font-weight: bold;
  color: #000000;
}*/

/*.imgs h3:nth-child(2) {
  left: 592px;
  top: 162px;
  font-weight: bold;
  color: #000000;
}
.imgs h3:nth-child(3) {
  left: 962px;
  top: 162px;
  font-weight: bold;
  color: #000000;
}*/

/******************************************************/
.row {
  /*width: 100%;*/
  clear: both;
  /*background-color: #E6E6E6;*/
  padding: 4%;
}
.row:after {
  content:".";
  clear: both;
  display: block;
  visability: hidden;
  height: 0;
  line-height: 0;
}

.general-info {
  background-color: #E6E6E6;
}
[class*="col-"]{
  float: left;
  margin-left: 4%;
}

[class*="col-"]:first-child{
  margin-left: 0;
}

.col-4 {
 width: 30.666%;
}

.col-8 {
 width: 65.334%;
}

.title1 {
/*  padding-left: 60px;
  padding-top: 65px;*/
}

.general-info p {
/*  padding-top: 15px;
  padding-left: 60px;
  padding-right: 776px;
  display: inline-block;
  line-height: 160%;
  float:left;*/
}

.para-two {
/*  margin-top: -435px;
  float: right;
  margin-left: 582px;
  text-align: left;
  padding-right: 60px;
  line-height: 160%;*/
}
.title {
  /*padding-bottom: 13px;*/
}

/******************************************************/
.our-clients {
  width: 100%;
  /*height: 540px;*/
  padding-bottom: 40px;
}
.title-oc {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 1.5em;
}
.our-clients p {
  line-height: 214%;
  text-align: center;
  padding-bottom: 20px;
  width: 75%;
  margin:0 auto;
}

.our-clients img {
  padding-left: 40px;
  padding-bottom: 40px;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1);
}
.client-img {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.button {
  margin: 0 auto;
  color: #FFFFFF;
  width: 200px;
  height: 35px;
  background-color: #cc3366;
  text-decoration: none;
  padding: 15px 32px 15px 32px;
  font-weight: 700;
  display: block;
  text-align: center;
}
.bigger-button {
  color: #009999;
}
/******************************************************/
footer, footer nav a {
  color: #FFFFFF;
  font-weight: 400;  
}

footer {
  width: 100%;
  height: 150px;
  background-color: #009999;
  padding-top: 30px;
}

.name {
  display: inline;
  padding-left: 80px;
}

footer nav {
  margin-top: 3px;
}

footer span {
  font-weight: 400;
}

/*Devices*/
@media only screen and (max-width:950px) {
  .imgs-same {
    display: block;
    width: 100%;
    height: 300px;
    margin-left: 0;
    margin-bottom: 4%;
  }
  [class*="col-"] {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .imgs-same h3 {
    /*height: auto;*/
  }
  .hero-slider, .hero-slider img {
    height: 440px;
  }
}
@media only screen and (max-width:687px) {
  .hero-slider, .hero-slider img {
    height: 480px;
  }
}
@media only screen and (max-width:687px) {
  .hero-slider, .hero-slider img {
    height: 520px;
  }
}