html, body, div, span, 
h1, h2, h3, h4, h5, h6, 
p, a, img, article, aside, 
footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/*. {
  font-family: Tahoma; san-serif;
}*/
nav {
  float: right;
  padding-right: 55px;
  font-size: 83%;
  margin-top: 8px;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding-right: 19px;
  font-weight: 700;  
}

h1 {
  /*color: #9CDEFF;*/
  font-size: 2em;
  display: inline;
  font-family: 'Open Sans', sans-serif;
}

#wrapper {

}

.unslider-nav {
  display: none;
}

.logo-type {
  color: #009999;
  font-weight: 700;  
  display: inline;
  font-size: 1.5em;
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.nav-bar {
  width: 100%;
  height: 40px;
  /*background-color: #00cc99;*/
  /*padding-bottom: 25px;*/
  /*padding-top: 22px;*/
  padding-top: 23px;
  /*padding-bottom: 16px;*/
  font-family: 'Open Sans', sans-serif;
}

.nav-color {
  color: #cccc00;
}

.hero-slider {
  height: 405px;
  /*background-color: #9CDEFF;*/
}

.hero-slider img {
  width: 100% !important; 
  height: 390px;
    margin-left: -40px;
}

.hero-slider ul {
  list-style-type: none;
}

.intro {
  z-index: 100;
  position: absolute; 
  text-align: center;
  top: 130px;
  padding: 0 290px 0 290px;
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
}
.intro span {
  color: #cccc00;
}

.button-top {
  z-index: 100;
  position: absolute; 
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 550px;
  border-width: 3px;
  margin-left: 554px;
  margin-top: 246px;
  border-color: #fff;
  border-style: solid;
  padding: 12px 35px 12px 35px;
  text-shadow: 1px 1px #000000;
  box-shadow: 1px 1px 0px #000000;
}
.button-topa {
  z-index: 100;
  position: absolute; 
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #cccc00;
  margin-left: 550px;
  border-width: 3px;
  margin-left: 554px;
  margin-top: 246px;
  border-color: #cccc00;
  border-style: solid;
  padding: 12px 35px 12px 35px;
  text-shadow: 1px 1px #000000;
  box-shadow: 1px 1px 0px #000000;
}
.unslider-arrow {
/*  position: absolute;
  z-index: 2;
  cursor: pointer;*/
  margin-top: -200px;
}

/*ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}*/

.who-we-are {
  width: 100%;
  height: 600px;
  /*background-color: red;*/
  /*padding-left: 100px;*/
}

.who-we-are h3 {
 font-size: 1.5em;
 text-align: center;
 padding-top: 50px;
 padding-bottom: 20px;
 font-family: 'Open Sans', sans-serif;
}

.who-we-are p {
  padding-left: 300px;
  padding-right: 300px;
 text-align: center;
 font-family: 'Open Sans', sans-serif;
   line-height: 150%; 
}

/*.wwap {
  padding-left: 300px;
  padding-right: 300px;
 text-align: center;
 font-family: Tahoma; san-serif;
  line-height: 150%; 
}*/

.who-we-are img {
  width: 330px;
  height: 330px;
  padding-top: 50px;
  padding-right: 26px;
}
.imgs {
  padding-left: 113px;
  position: relative; 
}
.imgs h3 {
    font-size: 1.2em;
  z-index: 100;
  position: absolute; 
    /*left:150px;*/
    top:350px;
   /*background:rgba(0, 0, 0, .75);*/
  font-family: 'Open Sans', sans-serif;
}
.imgs p {
  font-size: 1.2em;
  z-index: 100;
  position: absolute; 
    /*left:150px;*/
    top:350px;
   /*background:rgba(0, 0, 0, .75);*/

}
.imgs h3:first-child {
  left: 238px;
  top: 162px;
  font-weight: bold;
  
 color: #000000;
}
.imgs h3:nth-child(2) {
  left: 592px;
  top: 162px;
  font-weight: bold;
  
 color: #000000;

}
.imgs h3:nth-child(3) {
  /*float: right;*/
  left: 962px;
  top: 162px;
  font-weight: bold;
  
 color: #000000;

}
/*.workforme {
  left: 665px;
  top: 204px;
  padding-right: 0px;
  font-weight: bold;
  color: #fff;
}*/
/******************************************************/
.general-info {
  /*width: 100%;*/
  height: 500px;
  background-color: #E6E6E6;
  font-family: 'Open Sans', sans-serif;
}
.title1 {
  padding-left: 60px;
  padding-top: 65px;
}
.general-info p {
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 776px;
  display: inline-block;
  line-height: 160%;
  float:left;
}
/*.firstp {
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 776px;
  display: inline-block;
  line-height: 160%;
  float:left;
}*/

.para-two {
  margin-top: -435px;
  float: right;
  margin-left: 582px;
  text-align: left;
  padding-right: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 160%;
}
.title {
  padding-bottom: 13px;
}
/*.para-two {
  display: inline;
  padding-top: 10px;
  float:right;
  padding-left: 46px;
  padding-right: 776px;
}

.general-info p:nth-child(2){
  display: inline;
  padding-left: 466px;
  padding-right: 6px;
}

.title2 {
  float: right;
  top:10px;
}*/

/******************************************************/
.our-clients {
  width: 100%;
  height: 540px;
  /*background-color: green;*/
  font-family: 'Open Sans', sans-serif;
}
.title-oc {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 1.5em;
}
.our-clients p {
  /*padding: 90px;*/
  line-height: 214%;
  text-align: center;
    margin-left: 396px;
  /* padding-left: 301px; */
  /* padding-right: 385px; */
  margin-right: 400px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.our-clients img {
  padding-left: 40px;
  padding-bottom: 40px;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1);
}

/*.overlay {
  z-index: 1;
  background:rgba(0,0,0,.75);
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  opacity:1;
}*/
.button {
  color: #FFFFFF;
  width: 20px;
  height: 35px;
  background-color:#cc3366;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin-left: 550px;
  /* margin-bottom: 54px; */
    padding: 15px 32px 15px 32px;
    font-weight: 700;
}
.bigger-button {
  color: #cccc00;
  background-color:#cc3366;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin-left: 550px;
  padding: 22px 35px 22px 35px;
  font-weight: 700;  
}
/******************************************************/
footer, footer nav a {
  color: #FFFFFF;
  font-weight: 400;  
}

footer {
  width: 100%;
  height: 150px;
  background-color: #009999;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
}

.name {
  display: inline;
  padding-left: 80px;
}

footer nav {
  margin-top: 3px;
}

footer span {
  font-weight: 400;
}
